<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>
    <div class="about-text">
        <h2>About Litrary</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur impedit magni saepe esse iusto quibusdam, porro fugiat quidem expedita quis dolorum, quam repellendus, quisquam labore iste animi doloremque et non recusandae hic tempora? Magnam dolores, reprehenderit nostrum, assumenda tenetur nulla saepe officia fuga explicabo accusantium illum corporis possimus ducimus!</p>

        <h2>Our Goal</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur impedit magni saepe esse iusto quibusdam, porro fugiat quidem expedita quis dolorum, quam repellendus, quisquam labore iste animi doloremque et non recusandae hic tempora? Magnam dolores, reprehenderit nostrum, assumenda tenetur nulla saepe officia fuga explicabo accusantium illum corporis possimus ducimus!</p>

        <h2>Why Us?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur impedit magni saepe esse iusto quibusdam, porro fugiat quidem expedita quis dolorum, quam repellendus, quisquam labore iste animi doloremque et non recusandae hic tempora? Magnam dolores, reprehenderit nostrum, assumenda tenetur nulla saepe officia fuga explicabo accusantium illum corporis possimus ducimus!</p>
    </div>

    <%- include('./partials/footer.ejs'); %>

</body>
</html>